<form [formGroup]="form" #formDir="ngForm">
  <fieldset class="flex flex-col">
    <div class="flex flex-row m-2-8">
      <div class="flex flex-col form-field mr-2">
        <label class="text-gray-primary text-2">First name</label>
        <input name="firstname" formControlName="firstname"
               class="block w-full px-3 py-1 text-2xl text-white bg-primary border border-solid border-secondary rounded transition ease-in-out m-0 focus:border-tertiary focus:outline-none">
      </div>
      <div class="flex flex-col form-field ml-2">
        <label class="text-gray-primary text-2">Last name</label>
        <input name="lastname" formControlName="lastname"
               class="block w-full px-3 py-1 text-2xl text-white bg-primary border border-solid border-secondary rounded transition ease-in-out m-0 focus:border-tertiary focus:outline-none">
      </div>
    </div>
    <div class="flex flex-col form-field m-2-8">
      <div class="flex flex-row">
        <label class="text-gray-primary text-2">Email address <p class="contents text-red-500">*</p></label>
        <div *ngIf="email.invalid && formDir.submitted"
             class="text-sm text-red-500 ml-auto">
          <div *ngIf="email.errors?.['required']">
            Email address is required
          </div>
          <div *ngIf="email.errors?.['pattern']">
            Not a valid email address
          </div>
        </div>
      </div>
      <input name="email" formControlName="email"
             class="block w-full px-3 py-1 text-2xl text-white bg-primary border border-solid border-secondary rounded transition ease-in-out m-0 focus:border-tertiary focus:outline-none">
    </div>
    <div class="flex flex-col form-field m-2-8">
      <div class="flex flex-row">
        <label class="text-gray-primary text-2">Password <p class="contents text-red-500">*</p></label>
        <div *ngIf="password.invalid && formDir.submitted"
             class="text-sm text-red-500 ml-auto">
          <div *ngIf="password.errors?.['required']">
            Password is required
          </div>
        </div>
      </div>
      <input name="password" formControlName="password" type="password"
             class="block w-full px-3 py-1 text-2xl text-white bg-primary border border-solid border-secondary rounded transition ease-in-out m-0 focus:border-tertiary focus:outline-none">
    </div>
    <div class="flex flex-col form-field m-2-8">
      <div class="flex flex-row">
        <label class="text-gray-primary text-2">Confirm password <p class="contents text-red-500">*</p></label>
        <div *ngIf="confirmPassword.invalid && formDir.submitted"
             class="text-sm text-red-500 ml-auto">
          <div *ngIf="confirmPassword.errors?.['required']">
            Password is required
          </div>
          <div *ngIf="confirmPassword.errors?.['passwordMatching']">
            Password does not match
          </div>
        </div>
      </div>
      <input name="confirmPassword" formControlName="confirmPassword" type="password"
             class="block w-full px-3 py-1 text-2xl text-white bg-primary border border-solid border-secondary rounded transition ease-in-out m-0 focus:border-tertiary focus:outline-none">
    </div>
    <div class="flex flex-row form-field m-2-8 items-center">
      <input id="tos" name="tos" formControlName="tos" type="checkbox"
             class="appearance-none h-5 w-5 mr-2 bg-primary border border-solid border-secondary rounded-sm bg-white checked:bg-green-400 checked:border-green-400 focus:outline-none transition duration-200 align-top float-left cursor-pointer">
      <label for="tos" class="text-gray-primary text-1">
        I have read and agree to the
        <a routerLink="tos" routerLinkActive="active" target="_blank"
           class="contents text-blue-500 font-bold cursor-pointer hover:text-blue-400 transition duration-200 ease-in-out">Terms
          of Service</a><p class="contents text-red-500"> *</p>
      </label>
      <div *ngIf="tos.invalid && formDir.submitted"
           class="text-sm text-red-500 ml-auto">
        <div *ngIf="tos.errors?.['required']">
          Required
        </div>
      </div>
    </div>
    <div class="flex flex-row form-field m-2-8 items-center">
      <input id="privacy" name="privacy" formControlName="privacy" type="checkbox"
             class="appearance-none h-5 w-5 mr-2 bg-primary border border-solid border-secondary rounded-sm bg-white checked:bg-green-400 checked:border-green-400 focus:outline-none transition duration-200 align-top float-left cursor-pointer">
      <label for="privacy" class="text-gray-primary text-1">
        I have read and agree to the
        <a routerLink="privacy" routerLinkActive="active" target="_blank"
           class="contents text-blue-500 font-bold cursor-pointer hover:text-blue-400 transition duration-200 ease-in-out">Privacy
          Policy</a><p class="contents text-red-500"> *</p>
      </label>
      <div *ngIf="privacy.invalid && formDir.submitted"
           class="text-sm text-red-500 ml-auto">
        <div *ngIf="privacy.errors?.['required']">
          Required
        </div>
      </div>
    </div>
  </fieldset>
  <div class="m-4">
    <button [disabled]="form.invalid && formDir.submitted" class="block px-4 py-2 m-auto w-64 bg-tertiary rounded-xl text-gray-primary hover:bg-primary"
            (click)="register()">
      REGISTER
    </button>
  </div>
  <p class="text-gray-primary text-center cursor-default">
    Already have a account? <a routerLink="/login" routerLinkActive="active"
                               class="text-right text-blue-500 text-1 hover:text-blue-400 transition duration-200 ease-in-out">Login</a>
  </p>
</form>
