<div class="flex flex-row h-screen-24 bg-secondary">
  <div class="flex-1 m-8">
    <img [src]="logo" alt="" class="h-32 object-contain"/>
    <h1 class="m-2-8 text-4xl text-gray-primary">{{headerText}}</h1>
    <p class="m-2-8 text-2 text-gray-primary">
      <ng-container *ngFor="let text of innerText; let i = index">
        <ng-container *ngIf="i > 0">
          <br/>
        </ng-container>
        {{text}}
      </ng-container>
    </p>
  </div>
  <img [src]="image" alt="" class="flex-2-5 h-full object-cover overflow-hidden bg-tertiary"/>
</div>
