@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

@font-face {
    font-family: 'OpenDyslexic';
    src: url('../fonts/OpenDyslexic-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

html {
    font-family: Quicksand, serif;
}

.openDyslexic {
    font-family: OpenDyslexic, serif !important;
}

::-webkit-scrollbar {
    background-color: #403F3F;
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #1F1F1F;
}

.bg-primary,
.hover\:bg-primary:hover {
    background: #484764;
}

.bg-secondary,
.hover\:bg-secondary:hover {
    background: #3A3950;
}

.bg-tertiary,
.hover\:bg-tertiary:hover {
    background: #2D2C3E;
}

.border-primary {
    border-color: #484764;
}

.border-secondary {
    border-color: #3A3950;
}

.border-tertiary {
    border-color: #2D2C3E;
}

.text-gray-primary {
    color: #E1E1E1;
}

.text-1 {
    font-size: 1rem;
}

.text-2 {
    font-size: 1.25rem;
}

.text-xxs {
    font-size: 0.6rem;
}

.blur {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.h-9 {
    height: 2.25rem;
}

.h-screen-12 {
    height: calc(100vh - 3rem);
}

.h-screen-24 {
    height: calc(100vh - 6rem);
}

.h-inherit {
    height: inherit;
}

.h-fit {
    height: fit-content;
}

.h-1-2 {
    height: 50%;
}

.h-1-5 {
    height: 20%;
}

.h-max-9r {
    max-height: 9rem;
}

.w-fit {
    width: fit-content;
}

.m-9 {
    margin: 2.125rem;
}

.m-auto-4 {
    margin: auto 1rem;
}

.m-auto-4-auto-auto {
    margin: auto 15px auto auto;
}

.m-2-8 {
    margin: 0.5rem 2rem;
}

.p-2-4 {
    padding: 0.5rem 1rem;
}

.flex-1-2 {
    flex: 0 0 50%;
}

.flex-1-3 {
    flex: 0 0 33.3333333%;
}

.flex-2-5 {
    flex: 0 0 40%;
}

@media (min-width: 768px) {
    .md\:h-9r {
        height: 9rem;
    }

    .md\:w-53r {
        width: 53rem;
    }

    .md\:h-2-5 {
        height: 40%;
    }
}